<div class="card bg-light">
    <div class="card-body">
        <h5 class="card-title">Join the Leaderboard Today</h5>
        
        
        <form action="/trailblazer/create/" method="post">
            <div class="form-group">
                <label for="trailblazer_url">Enter Your Trailhead URL: (<a href="https://trailhead.salesforce.com/help?article=Trailhead-Profile-Overview" target="_blank">make sure your profile is public</a>)</label>
                <input id="trailblazer_url" class="form-control" aria-describedby="emailHelp" placeholder="https://trailhead.salesforce.com/<<your name>>" type="text" name="trailblazer_url">
                <small id="trailblazer_url_help" class="form-text text-muted">(for example: https://trailblazer.me/id/gidich ) </small>
            </div>
            <input type="submit" value="Add Me" class="btn btn-primary">
        </form>
    </div>
</div>