<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <div class="container">
            <% include ../partials/navbar.ejs %>

            <div class="row">
                <div class="col-sm-12" style="padding-bottom:20px">
                    <h1>About</h1>
                    
                    <p>
                        This is a sample application buit with NodeJS and running on Heroku to get an idea of what the platform is capable of.<br/>
                        <br/>

                        All source is <a href="https://github.com/gidich/trailhead-leaderboard" target="_blanK">available on GitHub</a>, feel free to submit a pull request with any changes or updates.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>