<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <div class="container">
            <% include ../partials/navbar.ejs %>

            <div class="row">
                <div class="col-sm-12" style="padding-bottom:20px">
                    <h1>Get Listed</h1>
                    <p class="lead">
                        It's quick and easy!
                    </p>
                    <% include ../partials/addTrailblazer.ejs %>
                </div>
            </div>
        </div>
    </body>
</html>