<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <div class="container">
            <% include ../partials/navbar.ejs %>

            <div class="row">
                <div class="col-sm-12">
                    <h3>Sorry, we encountered some problems.</h3>
                    
                    


                    <h4>Please ensure your profile is PUBLIC, or you'll likely see this error</h4>
                    <div>

                        Log into Trailhead and navigate to the profile tab on your profile. Click the edit pencil in the About Me section (see image) and toggle the "Profile Visibility" button to the option you want.
                    </div>
                    <br/>
                    <br/>
                    <div>The URL you entered has been recorded and will be reviewed, but there was a problem accessing the URL.</div>
                    <h4>Thank you for your submission!</h4>
                </div>
            </div>

        </div>
    </body>
</html>