<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <div class="container">
            <% include ../partials/navbar.ejs %>

            <div class="row">
                <div class="col-sm-12">
                    <h2>Sorry, we encountered some problems.</h2>
                    <h3>The URL you entered has been recorded and will be reviewed, but there was a problem accessing the URL.</h3>
                    <h4>Thank you for your submission!</h4>
                </div>
            </div>

        </div>
    </body>
</html>